.profileEditData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;
    height: 620px;
}

.button {
    background-color: #ffffff;
    font-size: 16px;
    color: #3465d3;
    border: none;
    border-radius: 4px;
    margin: 4px;
}

.button:hover {
    background-color: #3465d3;
    color: #ffffff;
}

.name {
    display: flex;
    margin: 8px 0 8px 0;
    align-items: center;
}

.profileEditData div {
    justify-content: flex-start;
    align-items: center;
    height: 30px;
}

.text {
    width: 160px;
    /*padding: 6px 0 0 0;*/
    line-height: 16px;
    float: left;
    text-align: right;
}

.field {
    width: 230px;
    height: 10px;
}

.contacts {
    font-weight: 600;
}