.posts {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin-top: 30px;
}

.postsBlock {
    width: 400px;
}

.field {
    padding: 0;
    width: 400px;
}
.buttonBlock {
    display: flex;
    width: 528px;
    justify-content: flex-end;
}
.button {
    display: flex;
    justify-content: center;
    background-color: rgba(69, 145, 203, 0.32);
    font-size: 16px;
    color: #000000;
    border-radius: 4px;
    border: none;
    margin: 4px 0 4px 0;
    height: 30px;
    align-items: center;
    width: 80px;
}

.button:hover {
    color: #3465d3;
}

.postsInfoBlock {
    margin-top: 10px;
}