.header {
    grid-area: h;
    background-color: beige;
}

.header img {
    width: 40px;
}

.loginBlock {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.loginBlock a {
    color: #1e0b0b;
}