.nav {
    /*grid-area: n;*/
    background-color: rgba(225, 227, 230, 0.60);
    padding: 30px 20px 20px 20px;
}

.itemsBlock {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}
.item a {
    color: #000000;
    text-decoration: none;
}

.item a.active {
    color: #4778c2;
}
