.formControl {
    display: flex;
    flex-direction: column;
}


.formControl.error input,
.error textarea {
    border: solid #a40202 1px;
}

.formControl.error span {
    color: #9f0202;
}

.formControlError {
    border: 1px red solid;
    /*padding: 5px;*/
    color: #9f0202;
}