.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItem {
    padding: 10px;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.dialog a {
    color: #000000;
    text-decoration: none;
}

.dialog a.active {
    color: #c2bc47;
}

.sendMessage {
    margin-top: 10px;
}

